.content {
    height: 2151px;
    left: 0;
    position: absolute;
    top: 157px;
    width: 1440px;
  
    .list-news {
      height: 450px;
      left: 136px;
      position: absolute;
      top: 103px;
      width: 1168px;
    }
  
    .news-instance {
      left: 0 !important;
      position: absolute !important;
      top: 0 !important;
    }
  
    .design-component-instance-node {
      left: 399px !important;
      position: absolute !important;
      top: 0 !important;
    }
  
    .news-2 {
      left: 798px !important;
      position: absolute !important;
      top: 0 !important;
    }
  
    .list-news-2 {
      height: 450px;
      left: 136px;
      position: absolute;
      top: 593px;
      width: 1168px;
    }
  
    .list-news-3 {
      height: 450px;
      left: 136px;
      position: absolute;
      top: 1083px;
      width: 1168px;
    }
  
    .list-news-4 {
      height: 450px;
      left: 136px;
      position: absolute;
      top: 1573px;
      width: 1168px;
    }
  
    .controls {
      align-items: center;
      display: flex;
      gap: 10px;
      justify-content: center;
      left: 588px;
      position: absolute;
      top: 2073px;
      width: 263px;
    }
  
    .text-wrapper-10 {
      color: #000000;
      font-family: "Inter", Helvetica;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 30px;
      margin-top: -1px;
      position: relative;
      white-space: nowrap;
      width: fit-content;
    }
  
    .title {
      align-items: center;
      display: inline-flex;
      gap: 10px;
      justify-content: center;
      left: 568px;
      position: absolute;
      top: 35px;
    }
  
    .text-wrapper-11 {
      color: #000000;
      font-family: "Inter", Helvetica;
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 0;
      line-height: 30px;
      margin-top: -1px;
      position: relative;
      white-space: nowrap;
      width: fit-content;
    }
  }
  