.news-screen {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  
    .news-3 {
      background-color: #ffffff;
      height: 3350px;
      overflow: hidden;
      position: relative;
      width: 1440px;
    }
  
    .maps {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 39px;
      height: 603px;
      left: 1px;
      padding: 50px 0px;
      position: absolute;
      top: 2308px;
      width: 1440px;
    }
  
    .title-2 {
      align-items: center;
      display: flex;
      gap: 10px;
      height: 20px;
      justify-content: center;
      position: relative;
      width: 373px;
    }
  
    .text-wrapper-13 {
      color: #000000;
      font-family: "Inter", Helvetica;
      font-size: 36px;
      font-weight: 700;
      height: 20px;
      letter-spacing: 0;
      line-height: 20px;
      margin-left: -21px;
      margin-right: -21px;
      margin-top: -1px;
      position: relative;
      white-space: nowrap;
      width: 415px;
    }
  
    .map {
      align-items: flex-start;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      height: 450px;
      margin-bottom: -6px;
      overflow: hidden;
      position: relative;
      width: 1220px;
    }
  
    .image {
      align-self: stretch;
      height: 450px;
      object-fit: cover;
      position: relative;
      width: 100%;
    }
  }
  