.news-screen {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  
    .news-3 {
      background-color: #ffffff;
      overflow: hidden;
      position: relative;
      width: 1440px;
    }
  
  
  
    
  
    
  
  
  }
  