.locaton {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 550px;
    // left: 0;
    padding: 50px 0;
    position: relative;
    // top: 1842px;
    width: 100%;
  
    .title {
      align-items: center;
      display: flex;
      gap: 10px;
      height: 20px;
      justify-content: center;
      position: relative;
      width: 373px;
  
      .text-wrapper-7 {
        color: #000;
        font-family: "Inter", Helvetica;
        font-size: 36px;
        font-weight: 700;
        height: 20px;
        line-height: 20px;
        margin-top: -1px;
        position: relative;
        white-space: nowrap;
        width: 371px;
      }
    }
    .image-overlay-gradient {
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 51%,
        rgba(0, 0, 0, 0) 77%
      );
      z-index: 1;
      opacity: 0.5;
    }
    .place-2 {
      display: flex;
      flex-direction: column;
      gap: 19px;
      width: 100%;
    
    .content-location {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      position: absolute;
      height: 2151px;
      left: 0;
      position: absolute;
      top: 167px;
      width: 1440px;

        .location-left {
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          height: 450px;
          position: relative;
          width: 710px;
          overflow: hidden;
          transition: transform 0.3s ease;
          cursor: pointer;
  
          .image {
            align-self: stretch;
            height: 100%;
            object-fit: cover;
            position: relative;
            width: 100%;
            transition: transform 0.3s ease;
          }
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: linear-gradient(
              to bottom,
              rgba(0, 0, 0, 1) 51%,
              rgba(0, 0, 0, 0) 77%
            );
            opacity: 0.5;
          }
        
          .text-wrapper-8 {
            color: var(--white);
            font-family: "Inter", Helvetica;
            font-size: 16px;
            font-weight: 700;
            left: 30px;
            line-height: 20px;
            position: absolute;
            top: 29px;
            white-space: nowrap;
            width: 106px;
            z-index: 2;
          }
          &:hover {
            .image{
              transform: scale(1.1); // ✅ Scale ảnh trong khung
            }

            .text-wrapper-8{
              font-size: 20px; 
            }
          }
          
        }
  
        .location-right {
          align-items: flex-start;
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          position: relative;
          width: 710px;
          height: 0;
  
          .item {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            height: 220px;
            position: relative;
            width: 340px;
            position: relative;
            overflow: hidden;
            transition: transform 0.3s ease;
            cursor: pointer;
  
            .image-2 {
              align-self: stretch;
              height: 100%;
              object-fit: cover;
              position: relative;
              width: 100%;
              transition: transform 0.3s ease;
            }
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 1;
              background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 1) 51%,
                rgba(0, 0, 0, 0) 77%
              );
              opacity: 0.5;
            }
            .text-wrapper-9 {
              color: var(--white);
              font-family: "Inter", Helvetica;
              font-size: 16px;
              font-weight: 700;
              left: 19px;
              line-height: 20px;
              position: absolute;
              top: 20px;
              white-space: nowrap;
              width: 98px;
              z-index: 2;
              transition: color 0.3s ease;
            }
  
            .text-wrapper-10 {
              color: var(--white);
              font-family: "Inter", Helvetica;
              font-size: 16px;
              font-weight: 700;
              left: 19px;
              line-height: 20px;
              position: absolute;
              top: 20px;
              white-space: nowrap;
              width: 150px;
              z-index: 2;
            }
            .text-wrapper-9,
            .text-wrapper-10 {
              transition: color 0.3s ease;
            }

            &:hover {
              .image-2 {
                transform: scale(1.1); // ✅ Scale ảnh trong khung
              }

              .text-wrapper-9,
              .text-wrapper-10 {
                font-size: 20px; 
              }
            }
          }
          
        }
      }
    }
  }
  