.categories {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  left: 0;
  padding: 50px 30px;
  position: relative;
  width: 100%;

  .menu-categories {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: -50px;
    position: relative;
    width: 1120px;

    .breadcrumbs {
      align-items: center;
      align-self: stretch;
      display: flex;
      gap: 9px;
      position: relative;
      width: 100%;
  
      .text-wrapper {
          color: #000000;
          font-family: "Inter", Helvetica;
          font-size: 16px;
          font-weight: 700;
          letter-spacing: 0;
          line-height: 20px;
          position: relative;
          white-space: nowrap;
          width: fit-content;
      }
  
      .div {
          color: var(--x-006-1df);
          font-family: "Inter", Helvetica;
          font-size: 16px;
          font-weight: 700;
          letter-spacing: 0;
          line-height: 20px;
          position: relative;
          white-space: nowrap;
          width: fit-content;
      }
  
      .group {
          height: 31px;
          position: relative;
          width: 127.28px;
      }
  
      .button-instance {
          display: flex !important;
          // width: 127px !important;
      }
  
      .design-component-instance-node {
          margin-left: -1.86px !important;
          margin-right: -1.86px !important;
      }
  }

    .infor {
      left: 0;
      position: relative;
      width: 1120px;
      margin: 20px 0;
      display: flex;
      flex-direction: row;
      gap: 20px;

      .cards {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 20px;
        // height: 1335px;
        justify-content: center;
        left: 0;
        // position: absolute;
        top: 0;
        width: 100%;
      }

      .categories-title {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 1003px;
        justify-content: space-around;
        left: 629px;
        // position: absolute;
        top: 0;
        width: 100%;
      }

      .total-area {
        height: 38px;
        left: 15px;
        position: absolute;
        top: 678px;
        width: 440px;
      }

      .type-house-instance {
        height: 238px !important;
      }

      .type-house-2 {
        top: 66px !important;
      }

      .type-house-3 {
        margin-right: -42px !important;
      }

      .type-house-4 {
        margin-right: -41px !important;
      }

      .type-house-5 {
        margin-right: -49px !important;
      }
    }
  }
}
